header{
    color:black;
    background-color: red;
    padding:19px;
    text-align: center;
    position: fixed;
    width: 100%;
    border: 2px solid black;
    z-index: 1;
}
header h1{
    display: inline;
    font-size: 45px;
    border: 5px solid black;
    padding: 3px;
    border-radius: 35px;
}
.banner{
    position: relative;
}
.banner img{
    max-width: 100%;               
}
.banner.image{
    position: relative;
    z-index:-1;
    }
.welcome .h2{
    color: white;
    background-color: orange ;
    padding: 30px;
    position:absolute;
    z-index:1;
    left: 0%;
    top:47%;
    font-size: 74px;
    }
.banner h2 span{
    font-size: 1.5em;
}
main{
    background-color: orange;
    padding: 10px;
}
main h2{
    display: inline-block;
    color: black;
    font-weight: bold;
    font-size: 40px;
}
article{
    background-color: #f4f4f4;
    padding: 15px;
    margin-left: 0;
}
article p{
    color: black;
    font-size: 26px;
}
ul.images{
    position: relative;
    /* background-color: whitesmoke; */
    padding: 20px;
}
.i1{
    position: relative;
    left: 920px ;
    top: 190px;
    max-width: 100%;
}
.i2{
    position: relative;
    left: 50px;
    bottom: 175px;
}
.join{
    background-color:#f4f4f4;
    padding: 10px;
    line-height: 19px;
    text-align: center;
}
.h2 .join-today{
    font-size: 50px;
    text-align: center;
    text-shadow: 4px 4px gainsboro;
}
.join p{
    font-size:30px;
    text-align: center;
}
footer{
    background-color: rgb(220, 53, 53);
    padding: 1px;
}
.join .copyright {
    color: white;
    font-size: 19px;
}
form input{
    font-size: 20px;
    margin: 10px 0px;
    padding: 10px;
    border: 3px solid rgb(221, 215, 215);
    border-radius: 10px;
}
nav{
    background-color: #f4f4f4;
    padding: 10px;
}
nav li {
    font-size: 24px;
    display: inline-block;
    width: 11%;
}
nav li a {
    color: #4b4b4b;
}
.fa-solid{
    color:black;
}